* {
    font-family: monospace;
}

body {
    margin: 0;
    font-size: 15px ;
    background-color: #f0f8ff;
}

header {
    height: 100vh;
    color: white;
    background-color: #2196f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    color: #2196f3;
    font-size: 50px;
}
header h1{
    text-align: center;
    color: white;
}
.button {
    margin: 15px;
    height: 40px;
    weight: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    color: white;
    background-color: darkblue;
}
img{
    height: 200px;
}
main{
    padding: 20px;
}
form div{
    margin: 5px 0px;
}
section{
    height: 100vh;
    border:1px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit{
    padding: 7px;
    height: 40px;
    weight: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
}
.submit:hover{
    background-color:#0973c9;
}
input{
    border-radius: 5px;
    border: 1px solid lightgrey;
    height: 25px;
}
footer{
    height: 124px;
    background-color: black;
    color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fixedButton{
   position: fixed;
   bottom: 10px;
   right: 10px;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
}
.fixedButton:hover{
    background-color:#0973c9;
}
